<!-- Navigation Bar Starts -->
<div>
    <nav class="header">
      <h1 class="h1text">CLUSTER</h1>
    </nav>
  </div>
  <div class="container nav1">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="\assets\img\Untitled design1.gif"
            alt=""
            width="50"
            height="44"
            class="d-inline-block align-text-top"
          />
          Cluster</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login">Login</a>
            </li>
            <!-- temperory -->
            <li class="nav-item">
              <a class="nav-link" routerLink="admin">admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="managepost">managepost</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="manageuser">manageuser</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="accounts">Accounts</a>
            </li>
            <!-- temperory -->
          </ul>
          <form class="d-flex flex-row bd-highlight mb-2">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit" routerLink="">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <!-- Navigation Bar Ends -->
