body{
    margin: 10px;
}
.header{
    padding: 5rem;
    background-color: rgb(200, 196, 196);
}
.h1text{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}
.navbar-brand{
    font-size: 2rem;
}