<div class="containerFoot">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit
      adipisci ipsum dolorum aspernatur! Vero eligendi repellat consequatur
      suscipit modi deleniti nulla iure dolor labore quae ullam, sunt aliquid
      veniam fuga totam, adipisci placeat dicta? Aperiam tempore delectus dolore
      nostrum quisquam consectetur minus vel, veniam sapiente hic nihil
      consequuntur esse beatae iusto minima aut. Accusamus similique sapiente
      optio quasi perspiciatis mollitia velit officiis, culpa deserunt tenetur,
      molestias quia veniam porro in provident! Voluptate sapiente harum labore,
      odit earum quo minima nihil incidunt vero asperiores voluptatum, inventore
      iste vitae molestias ullam. Praesentium ducimus quod suscipit, tempora est
      numquam! Repudiandae aperiam excepturi magni facere consequatur est nisi,
      blanditiis numquam, natus architecto sapiente consectetur eaque deserunt.
      Nam alias quam pariatur reiciendis. Explicabo aut praesentium veniam
      repellat enim quae laboriosam voluptas reiciendis aliquid ad. 
    </p>
  
    <div class="footer">
      <ul class="abc">
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-facebook"><p>&nbsp;&nbsp;Facebook</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-twitter"><p>&nbsp;&nbsp;Twitter</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-whatsapp"><p>&nbsp;&nbsp;WhatsApp</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-linkedin"><p>&nbsp;&nbsp;LinkeDen</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-youtube"><p>&nbsp;&nbsp;YouTube</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-instagram"><p>&nbsp;&nbsp;Instagram</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-snapchat"><p>&nbsp;&nbsp;Snapchat</p></span>
          </a>
        </li>
        <li>
          <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span class="fa fa-github"><p>&nbsp;&nbsp;GitHub</p></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- footer Ends -->