<div class="container">
  <h1 class="m-3">Linked Accounts</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
            <div class="table-responsive">
              <table class="table user-list">
                <thead>
                <tr>
                  <th><span>Account</span></th>
                  <th class="text-center"><span>Status</span></th>
                  <th><span>Email</span></th>
                  <th>Make link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <a class=" m-4" href="#">Facebook</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@Facebook.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link text-success" href="#">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                    <a class=" m-4" href="#">Instagram</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@instagram.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link  text-success" href="#">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="fa-stack">
                      <i class="fa fa-square fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <a class=" m-4" href="#">Twitter</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@twitter.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link  text-success" href="#">
                                          <span class="fa-stack">
                                              <i class="fa fa-square fa-stack-2x"></i>
                                              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                                          </span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                    <a class=" m-4" href="#">linkedin</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@linkedin.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link  text-success" href="#">
                                          <span class="fa-stack">
                                              <i class="fa fa-square fa-stack-2x"></i>
                                              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                                          </span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                                    </span>
                    <a class=" m-4" href="#">pinterest</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@pinterest.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link  text-success" href="#">
                                          <span class="fa-stack">
                                              <i class="fa fa-square fa-stack-2x"></i>
                                              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                                          </span>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
                                    </span>
                    <a class=" m-4" href="#">youtube</a>
                  </td>
                  <td class="text-center">
                    <span class="label label-danger">not-connected</span>
                  </td>
                  <td>
                    <a href="#">marlon@youtube.com</a>
                  </td>
                  <td style="width: 20%;">
                    <a class="table-link  text-success" href="#">
                                          <span class="fa-stack">
                                              <i class="fa fa-square fa-stack-2x"></i>
                                              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                                          </span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
