<div class="container">
  <h1 class="m-3">Create a Post</h1>
  <!-- post form -->
  <div class="form m-3">
    <form (ngSubmit)="onUpdate()" *ngIf="blog" [formGroup]="updateForm">
      <input class="form-control mb-2 py-4" formControlName="title" placeholder="Post heading" type="text"/>
      <!--      <input class="form-control mb-2 py-4" placeholder="Post subheading" type="text" value="{{blog.sub}}"/>-->

      <div class="d-flex align-items-baseline py-3">
        <input [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" class="form-control mb-2"
               formControlName="image" ng2FileSelect type="file"/>
        <!--        <button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"-->
        <!--                class="btn btn-primary mx-2" type="button">-->
        <!--          Upload-->
        <!--        </button>-->
      </div>

      <textarea
        class="form-control mb-2 py-3"
        cols="50" formControlName="content"
        placeholder="Post body text (markdown supported)"
        rows="10" value="{{blog.content}}"></textarea>

      <div class="form-group d-flex align-items-center justify-content-between">
        <button [disabled]="!updateForm.valid" class="btn btn-primary">Update Post</button>
      </div>
    </form>


    <form (ngSubmit)="onCreate()" *ngIf="!blog" [formGroup]="createForm">
      <input class="form-control mb-2 py-4" formControlName="title" placeholder="Post heading" required type="text"/>
      <!--      <input class="form-control mb-2 py-4" placeholder="Post subheading" type="text"/>-->

      <div class="d-flex align-items-baseline py-3">
        <input [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" class="form-control mb-2"
               formControlName="image" ng2FileSelect type="file"/>
        <!--        <button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"-->
        <!--                class="btn btn-primary mx-2" type="button">-->
        <!--          Upload-->
        <!--        </button>-->
      </div>

      <textarea
        class="form-control mb-2 py-3"
        cols="50" formControlName="content" placeholder="Post body text (markdown supported)"
        required rows="10"></textarea>

      <div class="form-group d-flex align-items-center justify-content-between">
        <button [disabled]="!createForm.valid" class="btn btn-primary" type="submit">Create Post</button>
      </div>
    </form>
  </div>
</div>

