<div class="footer">
  <ul class="abc">
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-facebook">&nbsp;&nbsp;Facebook</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-twitter">&nbsp;&nbsp;Twitter</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-whatsapp">&nbsp;&nbsp;WhatsApp</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-linkedin">&nbsp;&nbsp;LinkeDen</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-youtube">&nbsp;&nbsp;YouTube</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-instagram">&nbsp;&nbsp;Instagram</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-snapchat">&nbsp;&nbsp;Snapchat</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-github">&nbsp;&nbsp;GitHub</span>
      </a>
    </li>
  </ul>
</div>
