<h1 class="title">CLUSTER</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
  <a class="navbar-brand" routerLink="/">
    <img alt="" class="d-inline-block align-top" src="../../../assets/img/Untitled design.gif">
  </a>
  <div class="nav navbar-nav">
    <div *ngIf="!authService.user as user">
      <a class="nav-item nav-link" routerLink="/login">
        <i aria-hidden="true" class="fa fa-user"></i> Login
      </a>
    </div>
    <div *ngIf="authService.user as user">
      <div class="dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-item nav-link dropdown-toggle"
           data-bs-toggle="dropdown">
          <img [src]="user.photoURL" alt=""> {{ user.displayName }}
        </a>
        <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
          <a class="dropdown-item" routerLink="/accounts">Account</a>
          <a class="dropdown-item" routerLink="/create-post/{{user.uid}}">Create a Post</a>
          <a class="dropdown-item" routerLink="/managepost">Manage Posts</a>
          <a class="dropdown-item" routerLink="/manageuser">Manage Users</a>
          <hr class="m-1">
          <a class="dropdown-item" (click)="authService.SignOut()">
            <i class="fas fa-sign-out-alt"></i>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input aria-label="Search" class="form-control mr-sm-2 mx-2" placeholder="Search" type="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
