<div class="container1 ">
  <div class="heading d-flex justify-content-between ">
    <h1 class="text-white m-3 ">Manage Post Content</h1>
 <button class="btn btn-light m-4 " >Logout</button>
</div>
</div>
<div class="container2">
  <div class="sidebar">
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3">Manage Post   </button></div>
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3">Manage user   </button></div>
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3 px-4"> Accounts </button></div>
  </div>
  <div class="mainPanel">
    <!-- post-list -->
    <div class="list-group m-5">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
        <div>
          <button class="btn btn-primary m-2">Show</button>
          <button class="btn btn-danger m-2">Delete</button>
          <button class="btn btn-primary m-2">Edit</button>
         </div>      
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
        <div>
        <button class="btn btn-primary m-2">Show</button>
        <button class="btn btn-danger m-2">Delete</button>
        <button class="btn btn-primary m-2">Edit</button>
       </div>   
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">List group item heading</h5>
          <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
        <div>
          <button class="btn btn-primary m-2">Show</button>
          <button class="btn btn-danger m-2">Delete</button>
          <button class="btn btn-primary m-2">Edit</button> 
        </div>
      </a>
    </div>
    <!-- post-list -->
  </div>
</div>


