<div class="container1 ">
  <div class="heading d-flex justify-content-between ">
    <h1 class="text-white m-3 ">Post Content</h1>
 <button class="btn btn-light m-4 " >Logout</button>
</div>
</div>
<div class="container2">
  <div class="sidebar">
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3">Manage Post   </button></div>
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3">Manage user   </button></div>
    <div><button class="sidebtn btn btn-none btn-outline-dark  m-3 px-4"> Accounts   </button></div>
  </div>
  <div class="mainPanel">
    <!-- post form -->
    <div class="form m-3">
      <form >
      <input class="form-control mb-2 py-4" type="text" placeholder="Post heading"/>
        <input class="form-control mb-2 py-4"  type="text" placeholder="Post subheading"/>
        <input class="form-control mb-2 py-4"  type="text"  placeholder="Post background image (enter a URL)"/>
        Use an image URL (ex.
          https://source.unsplash.com/WLUHO9A_xik/1600x900)
          <textarea class="form-control mb-2 py-3" placeholder="Post body text (markdown supported)">
          </textarea>
          <div class="form-group d-flex align-items-center justify-content-between">
            <button class="btn btn-primary">Create Post</button>
        <button class="btn btn-primary">Update Post</button>
        </div>
    </form>
    <!-- post form -->
  </div>
</div>


