<div class="HomeMain">
  <div class="homeBlog">
    <!-- Card view Stars-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet
              nisi aspernatur consectetur quos praesentium earum, doloribus
              possimus natus totam veritatis?
            </p>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
            <button type="button" class="btn btn-success" routerLink="readblog">
              Read
            </button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Mollitia, ut?
            </p>
            <button type="button" class="btn btn-success" routerLink="readblog">
              Read
            </button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
            <button type="button" class="btn btn-success" routerLink="readblog">
              Read
            </button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100">
          <!-- <img src="..." class="card-img-top" alt="...">we will put it in major implement -->
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This card has even longer content
              than the first to show that equal height action.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
              blanditiis aliquam ab doloremque ducimus! Assumenda accusamus,
              sint inventore et nisi dignissimos at ab! Dignissimos, magni?
            </p>
            <button type="button" class="btn btn-success" routerLink="readblog">
              Read
            </button>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card view Ends -->
  <div class="homeAd">
    <h4 class="adv">ADVERTISEMENT</h4>
    <h4 class="adv">ADVERTISEMENT</h4>
    <h4 class="adv">ADVERTISEMENT</h4>
  </div>
</div>
