<div class="container d-flex pt-5 flex-row">
  <!-- Card view Stars-->
  <div class="row text-white">
    <div *ngFor="let blog of blogs" class="col-md-auto py-2">
      <div class="card text-center bg-dark">
        <div class="card-header text-muted">{{ blog.author }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ blog.content }}</p>
          <button class="btn btn-success" routerLink="readblog/{{blog.UID}}/{{blog.id}}" type="button">Read</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ blog.created_at | timeSince }} ago</small>
        </div>
      </div>
    </div>
  </div>
  <!-- Card view Ends -->

  <!--  <div class="homeAd">-->
  <!--    <h4 class="adv">ADVERTISEMENT</h4>-->
  <!--    <h4 class="adv">ADVERTISEMENT</h4>-->
  <!--    <h4 class="adv">ADVERTISEMENT</h4>-->
  <!--  </div>-->
</div>
