.homeAd {
  padding: 10px;
  margin: 10px;
  background-color: yellow;
}

.adv {
  transform: skewY(-60deg);
  margin-top: 200px;
}

.card {
  margin: 5px;
}

.jumbotron {
  background: none;
  text-align: center;
}

.btn {
  margin-top: 10px;
}

.robot {
  width: 100%;
  margin-bottom: 5px;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .robot {
    width: 50%;
  }
}

p:not(.lead) {
  cursor: pointer;
}

.home-screen-container {
  height: 80vh;
  margin-bottom: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
